<div class="container pt-3">
  <div class="row">
    <div class="col-md-12 justify-content-sm-center">
      <div class="row">
        <div class="col-xl-5 col-sm-6  mx-auto">
          <h2 class="text-center">{{page_title}}</h2>
          <p *ngIf="status != 'Success'">Modifica tus datos personales</p>

          <div class="alert alert-success alert-dismissible col-md-5 mt-3" *ngIf="status == 'Success'">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Exito!</strong> Se ha Actualizado el usuario.
          </div>
          <div class="alert alert-danger alert-dismissible col-md-5 mt-3" *ngIf="status == 'error'">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Error!</strong> No Se ha podido Actualizar el usuario. vuelve a intentarlo
          </div>

          <div class="card">
            <div class="card-body">
              <form class="ml-0 pl-0" #UserEditForm="ngForm" (ngSubmit)="onSubmit(UserEditForm)">
                <div class="form-group">
                  <label for="name">Nombre</label>
                  <input type="text" name="name" class="form-control" #name="ngModel" [(ngModel)]="user.name" required
                    pattern="[a-zA-Z]+" />
                  <small *ngIf="!name.valid && name.touched" class="invalid-feedback d-block">
                    el Nombre no es valido
                  </small>
                </div>
                <div class="form-group">
                  <label for="surname">Apellidos</label>
                  <input type="text" name="surname" class="form-control" #surname="ngModel" [(ngModel)]="user.surname"
                    required pattern="[a-zA-Z]+" />
                  <small *ngIf="!surname.valid && surname.touched" class="invalid-feedback d-block">
                    el Apellido no es valido
                  </small>
                </div>
                <div class="form-group">
                  <label for="email">email</label>
                  <input type="email" name="email" class="form-control" #email="ngModel" [(ngModel)]="user.email"
                    required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" />
                  <small *ngIf="!email.valid && email.touched" class="invalid-feedback d-block">
                    el Correo no es valido
                  </small>
                </div>
                <div class="form-group">
                  <label for="description">Biografia</label>
                  <input type="text" name="description" class="form-control" #description="ngModel"
                    [(ngModel)]="user.description" />
                </div>
                <div class="form-group">
                  <label for="image">Imagen</label>
                  <div *ngIf="identity && identity.image">
                    <img src="{{ url + 'usuarios/avatar/'+ identity.image}}" class="avatar_edit"/>
                  </div>
                  <angular-file-uploader [config]="afuConfig" 
                  (ApiResponse)="AvatarUpload($event)">
                  </angular-file-uploader>
                </div>
                <div class="form-group row mb-0">
                  <div class="col-md-6 offset-md-4">
                    <input type="submit" value="Guardar Cambios" class="btn btn-success"
                      [disabled]="UserEditForm.invalid">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
